version: '3.9'

services:
  web:
    build: .
    container_name: ecommerce_web
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - rabbitmq

  app:
    build: .
    container_name: ecommerce_app
    command: celery -A ecommerceconfig worker -l info --pool=solo
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${CELERY_BROKER_USER}
      RABBITMQ_DEFAULT_PASS: ${CELERY_BROKER_PASSWORD}

  db:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: